body {
  font-family: "Raleway", sans-serif;
  color: #EFE5CE;
  background-image: url('Resources/Backgrounds/forest/greenleaf_camp1_light.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: #EFE5CE;
  background-color: #2F2918;
  font-size: 25px;
  text-align: center;
  border: 30px solid transparent;
  border-image: url('Resources/border.png') 25 round;
  border-radius: 30px;
}

h2 {
  color: #EFE5CE;
  background-color: #655934;
  font-size: 18px;
  border: 30px solid transparent;
  border-image: url('Resources/border.png') 25 round;
  border-radius: 30px;
  text-align: center;
  opacity: 0.9;
}

p {
color: #EFE5CE;
}
html, html * {
		cursor: url(https://i.imgur.com/tjIyrtm.png), auto;
	}

.fullbody {
    color: #2F2918;
    background-color: #EFE5CE;
  }

.character {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 10px;
    order: 5;
    display: inline-block;
    vertical-align: top;
    color: #2F2918;
    background-color: #EFE5CE;
    font-size: 15px;
    border-radius: 20px;
    width: 100px;
  }

img {
    width: 100px;
    height: 100px;
}

button {
    font-style: bold;
    background-color: #EFE5CE;
    border: #EFE5CE;
    color: #2F2918;
    font-size: 15px;
    border-radius: 20px;
}

button:hover {
  font-style: bold;
  background-color: #EFE5CE;
  border: #EFE5CE;
  color: #655934;
  font-size: 15px;
  border-radius: 20px;
}

a.button {
    font-style: bold;
    padding: 5px;
    background-color: #2F2918;
    border: 30px solid transparent;
    border-image: url('Resources/border.png') 25 round;
    color: #EFE5CE;
    font-size: 15px;
    border-radius: 30px;
}

a.button:hover {
    font-style: bold;
    padding: 5px;
    background-color: #655934;
    border: 30px solid transparent;
    border-image: url('Resources/border.png') 25 round;
    color: #EFE5CE;
    font-size: 15px;
    border-radius: 30px;
}

.world {
    font-style: bold;
    padding: 5px;
    background-color: #2F2918;
    border: 30px solid transparent;
    border-image: url('Resources/border.png') 25 round;
    color: #EFE5CE;
    font-size: 15px;
    border-radius: 30px;
}

.world:hover {
  font-style: bold;
  padding: 5px;
  background-color: #655934;
  border: 30px solid transparent;
  border-image: url('Resources/border.png') 25 round;
  color: #EFE5CE;
  font-size: 15px;
  border-radius: 30px;
}

.container {
  display: flex; /* Makes the container a flex container */
  flex-wrap: wrap; /* Allows items to wrap to the next line */
}

.column {
  flex: 1; /* Distributes available space equally among columns */
  padding: 5px;
  gap: 15px;
  color: #2F2918;
  background-color: #B4A062;
  border: 30px solid transparent;
  border-image: url('Resources/border.png') 25 round;
  border-radius: 30px;
  box-sizing: border-box; /* Includes padding in element's total width */
  opacity: 0.9;
}

.column2 {
  flex: 2; /* Distributes available space equally among columns */
  padding: 5px;
  gap: 15px;
  color: #2F2918;
  background-color: #B4A062;
  border: 30px solid transparent;
  border-image: url('Resources/border.png') 25 round;
  border-radius: 30px;
  box-sizing: border-box; /* Includes padding in element's total width */
  opacity: 0.9;
}

.row {
  flex: 1; /* Distributes available space equally among columns */
  padding: 15px;
  gap: 20px;
  color: #2F2918;
  background: #EFE5CE;
  border-radius: 20px;
  border: 2px solid #EFE5CE;
  border: 30px solid transparent;
  border-image: url('Resources/border2.png') 25 round;
  border-radius: 30px;
  box-sizing: border-box; /* Includes padding in element's total width */
  align-items: center;
}

.row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
  gap: 20px;
  color: #2F2918;
  background: #EFE5CE;
  border-radius: 20px;
  border: 2px solid #EFE5CE;
  border: 30px solid transparent;
  border-image: url('Resources/border2.png') 25 round;
  border-radius: 30px;
  box-sizing: border-box; /* Includes padding in element's total width */
  align-items: center;
  }

hr {
  flex: 1;
  margin-bottom: 10px;
  display: block;
  text-align: center;
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stacks columns vertically on smaller screens */
  }
  .column {
    width: 100%; /* Ensures columns take full width when stacked */
  }

  .row {
    display: flex; /* Ensures columns take full width when stacked */
  }
}